---
// Importing necessary components

import Navbar from "@components/sections/Navbar.astro";
import FooterSection from "@components/sections/FooterSection.astro";
import { SITE } from "@data/constants";

// Setting expected props
const { title = SITE.title, meta, structuredData, lang = "en" } = Astro.props;



// Interface to type-check the properties
interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}


---

<!--
This is the main structure for the page.
We set the language of the page to English and add classes for scrollbar and scroll behavior.
-->
<html lang={lang} class="scrollbar-hide lenis lenis-smooth scroll-pt-16">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | Multipla` : "Multipla"}</title>
    <link
      rel="icon"
      href="/img/LogoMultiplaSoloNegro.png"
      type="image/png"
    />

    <script is:inline>
      // Forzar el tema claro al cargar la página
      localStorage.setItem("hs_theme", "light");
      document.documentElement.classList.remove("dark");
      

      // Codigo utilizable cuando incoorporemos el boton de temas de nuevo 
      /*
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      */

    </script>

    <script is:inline src="/scripts/vendor/lenis/lenis.js"></script>
    <script is:inline>
      // Script to handle Lenis library settings for smooth scrolling
      const lenis = new Lenis();

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
    

  </head>
  <body class="bg-white selection:bg-emerald-400 selection:text-neutral-700 dark:bg-neutral-800">
    
    
    <!-- Animation gspa -->
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        const { gsap } = await import('gsap');
        const { ScrollTrigger } = await import('gsap/ScrollTrigger');

        gsap.registerPlugin(ScrollTrigger);

        gsap.from(".animate-section", {
          opacity: 0,
          y: 60,
          duration: 2,
          ease: "power2.out",
          stagger: window.innerWidth < 768 ? 1 : 2,
          scrollTrigger: {
            trigger: ".animate-section",
            start: "top 60%",
            toggleActions: "play none none none",
            onRefresh: () => {
              // Reiniciar las animaciones al recargar la página
              gsap.set(".animate-section", { opacity: 0, y: 60, scale: 0.95 });}
          },
          
        });
      });
    </script>

  
  
    <!--
    Setting up the main structure of the page.
    The Navbar is placed at the top, with a slot for the main content and FooterSection at the bottom.
    -->
    <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
      <Navbar />
      <main class="my-8">
        <slot />
      </main>
    </div>
    <FooterSection />

    
    <style>
      /* CSS rules for the page scrollbar and scrolling experience with lenis library */

      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      html.lenis,
      html.lenis body {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }

      /* CSS for animated sections */
      .animate-section {
        opacity: 0; 
        transform: translateY(30px) scale(0.9); 
        filter: blur(3px); 
        transition: opacity 0.6s ease, transform 0.6s ease, filter 0.6s ease, box-shadow 0.6s ease;
        margin-bottom: 50px; 
        box-shadow: 0 0 0 rgba(0,0,0,0); 
      }
      .animate-section.visible {
        opacity: 1;
        transform: translateY(0) scale(1); 
        filter: blur(0); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      }

    </style>

    <script>
      window.addEventListener('beforeunload', () => {
      window.scrollTo(0, 0);});
    </script>

  </body>
</html>

